@model TMSOrderCar.Models.UWaybillBinding

@{
    ViewData["Title"] = "明细";
}

<h2>明细</h2>

<div>
    <h4>订单绑定车牌</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DocEntry)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DocEntry)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Carnumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Carnumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExpectDateLoad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExpectDateLoad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActualDateLoad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActualDateLoad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateUser)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateUser)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DocEntry">修改</a> |
    <a asp-action="Index">返回</a>
</div>
<script>

    (function () {
        verifyToken();
    }());

</script>
