@model IEnumerable<TMSOrderCar.Models.UWaybillBinding>
@addTagHelper "TMSOrderCar.Models.PagerTagHelper,TMSOrderCar"

@{
    ViewData["Title"] = "查询";
}


<h2>查询</h2>

<p>
    <a asp-action="Create">新增绑定信息</a>
</p>

@using (Html.BeginForm("Index", "UWaybillBindings", FormMethod.Get))
{

<p>
    车牌号：
    @Html.DropDownList("Carlist", ViewBag.Carlist as SelectList, "==请选择车牌==", new { @class = "l-text-field form-control", @style = "width:180px;display: initial;" })
    @*@Html.DropDownList("Carlist", "All")*@
    订单编号： @Html.TextBox("SearchString" ,"", new { @class= "form-control", @style = "width:180px;display: initial;autocomplete:true" })
    <input type="submit" value="查询" />
</p>

}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carnumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpectDateLoad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualDateLoad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Carnumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpectDateLoad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActualDateLoad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateUser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateUser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DocEntry">修改</a> |
                    <a asp-action="Details" asp-route-id="@item.DocEntry">明细</a> |
                    <a asp-action="Delete" asp-route-id="@item.DocEntry">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<pager pager-option="ViewBag.PagerOption as MoPagerOption"></pager>
<script>

    (function () {
        verifyToken();
    }());

</script>
